.ico-mono-exit {
  width: 1em;
  height: 1em;
  fill: #A8AEBF;
}
.ico-mono-ic-gun {
  width: 0.97em;
  height: 1em;
  fill: #ADFF00;
}
.ico-mono-ic-money {
  width: 1.06em;
  height: 1em;
  fill: #FFD000;
}
.ico-mono-ic-sound {
  width: 1.13em;
  height: 1em;
  fill: #ADFF00;
}
.ico-mono-ic1 {
  width: 1.08em;
  height: 1em;
  fill: #ADFF00;
}
.ico-mono-ic2 {
  width: 1.08em;
  height: 1em;
  fill: #ADFF00;
}
.ico-mono-ic3 {
  width: 1.08em;
  height: 1em;
  fill: #ADFF00;
}
.ico-mono-pic-clever {
  width: 1em;
  height: 1em;
  fill: #FFD000;
}
.ico-mono-profile {
  width: 1em;
  height: 1em;
  fill: #ADFF00;
}
.ico-mono-steam {
  width: 1em;
  height: 1em;
  fill: #1F1F1F;
}
.ico-mono-timer {
  width: 1em;
  height: 1em;
  fill: #ADFF00;
}
