.ico-color-ic-bank {
  width: 1em;
  height: 1em;
}
.ico-color-ic-star {
  width: 1em;
  height: 1em;
}
.ico-color-sale1 {
  width: 1em;
  height: 1em;
}
.ico-color-sale3 {
  width: 1em;
  height: 1em;
}
